@charset "UTF-8" ;

@media screen and (min-width:480px) {
  #header {
    max-width: 75%;
  }

  .container {
    width: 70%;
  }
 }

#header {
  max-width: 100%;
  height: auto;
}

h3 {
  position: relative;
  padding: 0rem 1rem 1.5rem 1rem;
}


h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15%;
  height: 10px;
  margin: auto;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bg_color {
  background-color: #f8f8ee;
}

.tx_color {
  color: #f397a3;
}

.font1 {
  font-family: 'Kiwi Maru', serif;
}

.font2 {
  font-family: 'Sawarabi Gothic', sans-serif;
}

.font_size {
  font-size: 13px;
}
